<ul class="list-group bg-white">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">
            Home
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">
            Users
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Roles" asp-action="Index">
            Roles
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Services" asp-action="Index">
            Services
        </a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Messages" asp-action="Index">
            Messages
        </a>
    </li>
</ul>
